@import "tailwindcss";

:root {
  --background: #fff;
  --primary: #1a3c5e;
  --secondary: #d76a38;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --primary: #1a3c5e;
    --secondary: #d76a38;
  }
}

body {
  background: var(--background);
  color: "#051729";
  font-family: "Inter", Helvetica, sans-serif;
}
